{% extends 'base.html' %}

{% block title %}
Добавление товара
{% endblock %}

{% block body %}
<div class="container">
    <h1>Добавление товара</h1>
    <form method="post">
        <input type="text"   class="form-control" name="title" id="title" placeholder="Введите название"><br>
        <input type="number" class="form-control" name="price" id="price" placeholder="Введите цену"><br>
        <textarea            class="form-control" name="text"  id="text"  placeholder="Введите описание"></textarea><br>
        <textarea            class="form-control" name="specs_short"  id="specs_short"  placeholder="Введите краткие характеристики"></textarea><br>
        <textarea            class="form-control" name="specs"  id="specs"  placeholder="Введите полные характеристики"></textarea><br>
        <button              class="btn btn-success" type="submit">Добавить товар</button><br>
    </form>
</div>
{% endblock %}