{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block body %}

<div class="container marketing">
    <main class="px-3">
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Samsung Galaxy S23 Ultra</h2>
        <p class="lead">Смартфон Samsung Galaxy S23 Ultra основан на однокристальной системе Snapdragon 8 Gen 2, работает под управлением операционной системы Android 13. Модель получила угловатую форму корпуса, слегка изогнутый по краям дисплей с отверстием под селфи-камеру по центру и блок камер сзади.
Galaxy S23 Ultra получил экран с диагональю 6,8 дюйма и разрешением 3088x1440. Главным фотодатчиком выступает 200-мегапиксельный ISOCELL HP2 с поддержкой OIS. Размер составляет 1/1.3". Из других камер в наличии телевик (10 Мп, 3-кратный зум), перископический объектив (10 Мп) и сверхширик (12 Мп). Селфи-сенсор получил разрешение 12 Мп.
Аккумулятор Galaxy S23 Ultra ёмкостью 5000 мАч поддерживает быструю подпитку на 45 Вт. Из прочих особенностей — поддержка Wi-Fi 6E, Bluetooth 5.3, модем Qualcomm и возможность реверсивной беспроводной зарядки (15 Вт).</p>
        <a href="/products/1" class="btn btn-lg btn-light fw-bold border-dark bg-white">Купить</a>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="0" height="480" xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid slice" focusable="false" ><img src="static/imgs/Samsung Galaxy S23 Ultra.jpg"></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">iPhone 14 Pro Max</h2>
        <p class="lead">У Apple iPhone 14 Pro Max 6,7-дюймовая панель. Пиковая яркость — 2000 нит. Используется небольшой вырез с датчиком фронтальной камеры и системой Face ID. Кроме того, он способен визуально уменьшаться и увеличиваться. Предусмотрен режим Always-on Display (экран всегда включен).
Аппаратная основа — A16 Bionic. Это 4-нм SoC с производительным GPU и дополнительным процессором Image Signal Proccessor для повышения качества снимков.
Тыльная камера iPhone 14 Pro Max тройная, на 48, 12 и 12 Мп. Ночью iPhone 14 Pro Max снимает в два раза лучше, чем iPhone 13 Pro. Селфи-камера на 12 Мп.</p>
        <a href="/products/2" class="btn btn-lg btn-light fw-bold border-dark bg-white">Купить</a>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="0" height="0" xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><img src="static/imgs/iPhone 14 Pro Max.jpg"></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Xiaomi 13 Pro</h2>
        <p class="lead">Главная особенность Xiaomi 13 Pro — продвинутая камера с оптикой и настройками от легендарной фирмы Leica. Все три сенсора тыльной камеры 50-мегапиксельные. Главный дюймовый датчик Sony IMX989 имеет новаторскую систему оптической стабилизации HyperOIS. Также есть широкоугольный модуль и телефотокамера. Фронтальная камера одинарная, на 32 Мп.
Смартфон получил 6,73-дюймовый AMOLED-экран с разрешением 2K и частотой обновления 1–120 Гц. Максимальная яркость составляет 1900 нит. К тому же, с прочным стеклом Gorilla Glass Victus, которое гарантирует защиту от царапин и ударов.</p>
                  <a href="/products/3" class="btn btn-lg btn-light fw-bold border-dark bg-white">Купить</a>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="0" height="0" xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><img src="static/imgs/Xiaomi 13 Pro.jpg"></svg>
      </div>
    </div>
    <hr class="featurette-divider">
    </main>
</div>
<div class="container marketing">
    <main class="px-3">
        <p style="text-align:center"> <a href="/products" class="btn btn-lg btn-light fw-bold border-dark bg-white">Смотреть все товары</a></p>
    </main>
</div>
{% endblock %}